.cadastro {
  h1 {
    margin: 2rem 2rem;
  }
}

.cadastroContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    margin-top: 1rem;
  }
  
  input{
    display: block;
    width: 600px;
    height: 30px;
    // margin-bottom: 1rem;
    border-radius: .20rem;
    border: none;
    background-color: #ccc;
    padding-left: 10px;
  }


  button {
    width: 200px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: #ccc;
    border-radius: .25rem;

    &:hover {
      filter: brightness(.9);
    }
  }

  div {
    margin: 1rem auto 0;
  }
}

.botoes {
  display: flex;
  justify-content: space-between;
}

form {
  margin-top: 4rem;
}






