
.headerFlex {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 1rem auto;

  li {
    display: inline;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
