.pessoaContainer {

  max-width: 1400px;
  margin: 0 auto;

  h1, button + button + button {
    margin: 2rem 2rem;
  }

  h1 + button {
    margin: 0 3.2rem;

    width: 200px;
    height: 30px;
    border-radius: .25rem;
    border: none;
    background-color: #ccc;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.pessoaLista {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 2rem 2rem
}

.card {
  width: 600px;
  height: 200px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-wrap: wrap;

  &:hover {
    outline: 1px solid rgb(0, 0, 0);
  }

  p{
    margin-top: 1rem;
  }
}

.botoes {
  display: flex;
  flex-direction: column;
 
  button {
    width: 120px;
    padding: .5rem;
    background-color: #cecece;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-weight: bold;
    margin-left: 1rem;

    &:hover {
      filter: brightness(0.9);
    }

    & + button {
      margin-top: 1rem;
    }
  }
}
